{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ movies.movie_title }}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  </head>
  <body>
    <div class="container">
      <div> Details of movie </div>
      <ol class="breadcrumb">
        <li class="breadcrumb-item active">{{ movie.movie_title }}</li>
        <p>
          <div>description of the movie:<div>
          {{ movie.description }}
          {{ actor.name }}
          {{ actor.desription }}
          {{ actor.movie}}
        </p>
      </ol>
    </div>
  </body>
</html>
