{% extends 'base.html' %}

{% block title %} Displays details of a given movie {% endblock %}

{% block content %}
<table class="table">
  <thead class="thead-inverse">
    <tr>
      <h1> Movie detail Page </h1>
    </tr>
  </thead>
  <tbody>
    {{ movie.movie_title }}<br>
    {{ movie.description }}<br>
    {{ movie.recently_added}}<br>

    {% for act in actor %}
    {{ act.name }} <br>
    {% endfor %}
  </tbody>
</table>

{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'movie_list' %}">Movies</a></li>
<li class="breadcrumb-item"><a href="{% url 'create_movie_watch_list' %}">Create new movie list</a></li>
{% endblock %}
