{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ movies.movie_title }}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  </head>
  <body>
    <div class="container">
      <div> Personal Movie List Page </div>
      <ol class="breadcrumb">
        <li class="breadcrumb-item active">{{ movie_list.movie_list_name }}</li>
        <p>
          <div>List of movies:<div>
          {{ movie_list.list_of_movies }}
          {{ movie_list.list_created }}
          {{ movie_list.created_by }}
        </p>
      </ol>
    </div>
  </body>
</html>
